.bgweather {
    background-image: url("/public/assets/rainy.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;

    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

h2, h3, h4 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
    padding-top: 30px;
    line-height: 100%;

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.namedate {
    text-align: left;
    color: white;
    margin-left: -70px;
    margin-top: 10px;
}

.divAnimation {
    text-align: center;
    position: relative;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.title {
   margin-left: -140px;
}

.weather_card h3 {
    display: grid;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    margin-top: 12px;
}

.forecast h3{
    display: inline-flexbox;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.weathericon {
    font-size: 40px;
    color: white;
    display: inline-block;
    align-items: center;
    margin-left: 250px;
}

p {
    font-size: 20px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
